@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap');

$color-primary-1: #3A7CFD;
$color-primay-2: #494C6B;

// dark theme
$color-black: #171823;
$color-black-1: #25273D;
$color-black-2: #393A4B;
$color-black-3: #5B5E7E;
$color-black-4: #4D5067;
$color-black-text: #C8CBE7;

$color-white: #FFFFFF;
$color-white-1:#FAFAFA;
$color-white-2: #D1D2DA;
$color-white-3: #E3E4F1;

$color-gray: #9495A5;
$color-border: #979797;

$color-linear-1: linear-gradient(140deg, #55DDFF, #C058F3);
$color-linear-2: linear-gradient(140deg, #5596FF, #AC2DEB);

$font-family: 'Josefin Sans', sans-serif;
